#app-container-main {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

#app-main {
  position: relative;
  max-width: 1000px;
  width: auto;
  display: flex;
}


#file-import-internal {
  display: none;
}

@media screen and (min-width: 1200px) {
  #app-main-container {
    width: 1200px;
    align-self: center;
  }
}

#combobox-source-format {
  align-self: stretch;
  flex-grow: 0.5;
}

.app-shcedule-panel {
  flex-grow: 1;
  margin: 4px;
  margin-top: 16px;
  display: flex;
}

.app-stretched {
  width: 100%;
}

.app-container {
  padding: 16px;
}

.hidden {
  display: none;
}

#idle-tip {
  align-self: center;
  width: 100%;
  text-align: center;
}