#app-container-main {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: var(--colorNeutralBackground2);
  display: flex;
  flex-direction: column;
}

#app-appbar-container {
  width: 100%;
  height: 32px;
  background-color: var(--colorNeutralBackground4);
}

#app-appbar {
  display: flex;
  align-items: center;
  margin-left: 8px;
  margin-right: 8px;
  height: 100%;
}

#app-main {
  align-self: center;
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
}

#file-import-internal {
  display: none;
}